.top-from{
    -fx-background-color:#fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color:#fff;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .4px .4px;

}
.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;

}
.close:hover{
    -fx-background-color: #ff4653;

}
.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;

}
.minimize:hover{
    -fx-background-color: #ddd;

}
.nav-form{
    -fx-background-color: #90d87f;

}

.nav-Btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}
.logout{
    -fx-background-color: #bb1a3a; 
    -fx-background-radius: 20px;
    -fx-cursor: hand;   
}
.logout:hover{
    -fx-background-color: #e41841;

}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7) , 5,0,0,0);

}
.card{
    -fx-background-color:linear-gradient(to right, #90d87f, #109b28);
    -fx-background-radius: 4px;
}
.texfild{
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to right, #90d87f, #109b28);
    -fx-border-width: 4px;

}
.texfild:focused{
    -fx-background-color: #fff;
    -fx-border-widh: 1px;
}

.add-btn{
    -fx-background-color: linear-gradient(to right, #39783e, #65c549);
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.add-btn:hover{
    -fx-background-color: #4fa756;

}
.update-btn{
    -fx-background-color: linear-gradient(to right, #abce1c, #fff919);
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.update-btn:hover{
    -fx-background-color: #dfdb45;

}
.clear-btn{
    -fx-background-color: linear-gradient(to right, #39783e, #65c549);
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.clear-btn:hover{
    -fx-background-color: #4fa756;

}
.delete-btn{
    -fx-background-color: linear-gradient(to right, #ff0000, #e75555);
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.delete-btn:hover{
    -fx-background-color: #f47070;

}

.search{
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-color: linear-gradient(to right, #90d87f, #109b28);
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-padding: 0px 0px 0px 28px;
    -fx-border-width: 4px;
}
.search:focused{
    -fx-border-width: 1.8px;

}

.tabele-view{
    -fx-border-color: linear-gradient(to right, #90d87f, #109b28);
    -fx-border-width: 2px;
    -fx-padding: 0px;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
}
.tabele-view .tabel-column{
    -fx-alignment: CENTER;
    
}
.tabele-view .column-header-background{
     -fx-background-color: linear-gradient(to right, #90d87f, #109b28);
     -fx-background-radius: 8px 8px 0px 0px;
     -fx-background-insets: 0 0 0 0;
}
.tabele-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
